<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/css/app.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="public/js/app.js"></script>
        <title>Pomodoro Clock</title>
    </head>
    <body>
        <div class="container" ng-controller='ctrl'>
            <h1 class="text-center">Pomodoro Clock</h1>
            <div class="col-xs-12 text-center box">
                <div class="col-xs-6 box--ctrl">
                    <h2>{{ labels.break }} Length</h2>
                    <div>
                        <span>
                            <button type="button" class="btn"
                             ng-click="length.break = length.break - 1; reset()">
                                <i class="fa fa-caret-down fa-lg"></i>
                            </button>
                        </span>
                        <span>{{ length.break }}</span>
                        <span>
                            <button type="button" class="btn"
                             ng-click="length.break = length.break + 1; reset()">
                                <i class="fa fa-caret-up fa-lg"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6 box--ctrl">
                    <h2>{{ labels.session }} Length</h2>
                    <div>
                        <span>
                            <button type="button" class="btn"
                             ng-click="length.session = length.session - 1; reset()">
                                <i class="fa fa-caret-down fa-lg"></i>
                            </button>
                        </span>
                        <span>{{ length.session }}</span>
                        <span>
                            <button type="button" class="btn"
                             ng-click="length.session = length.session + 1; reset()">
                                <i class="fa fa-caret-up fa-lg"></i></button>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 text-center">
                <div class="circle" ng-click="timerControl()">
                    <div id="circleLabel">{{ timerLabel }}</div>
                    <div id="timer">{{ timer | secondsToTime | date:'HH:mm:ss'}}</div>
                </div>
            </div>
        </div>

        <footer class="text-center">by ytv</footer>
    </body>
</html>
