<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/css/app.css">
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="public/js/app.module.js"></script>
        <script src="public/js/app.ctrl.js"></script>
        <script src="public/js/timer.ctrl.js"></script>
        <script src="public/js/app.filter.js"></script>
        <title>Pomodoro Clock</title>
    </head>
    <body class="text-center" ng-controller='AppCtrl'>
        <div class="container">
            <h1>Pomodoro Clock
                <button type="button" class="btn" ng-click="addTimer()">
                    <i class="fa fa-plus fa-2x"></i>
                </button>
            </h1>
            <div ng-repeat="countdownTimer in countdownTimers">
                <div ng-controller='TimerCtrl'>
                    <!--Box div for selecting break and session lengths -->
                    <div class="col-xs-12 box">
                        <div class="col-xs-6 box__content">
                            <h2>{{ labels.break }}<br>Length</h2>
                            <div>
                                <span>
                                    <button type="button" class="btn"
                                     ng-click="decrement('break'); reset()">
                                        <i class="fa fa-caret-down fa-lg"></i>
                                    </button>
                                </span>
                                <span>{{ length.break }}</span>
                                <span>
                                    <button type="button" class="btn"
                                     ng-click="increment('break'); reset()">
                                        <i class="fa fa-caret-up fa-lg"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-6 box__content">
                            <h2>{{ labels.session }}<br>Length</h2>
                            <div>
                                <span>
                                    <button type="button" class="btn"
                                     ng-click="decrement('session'); reset()">
                                        <i class="fa fa-caret-down fa-lg"></i>
                                    </button>
                                </span>
                                <span>{{ length.session }}</span>
                                <span>
                                    <button type="button" class="btn"
                                     ng-click="increment('session'); reset()">
                                        <i class="fa fa-caret-up fa-lg"></i></button>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--Timer -->
                    <div class="col-xs-12">
                        <button class="timerContainer" ng-click="timerControl()">
                            <div id="timerLabel">{{ timerLabel }}</div>
                            <div id="timer">{{ timer | secondsToTime | date:'HH:mm:ss'}}</div>
                        </button>
                    </div>
                    <!--Timer remove and volume buttons -->
                    <div class="col-xs-12">
                        <button type="button" class="remove-btn" ng-click="removeTimer(countdownTimer)">
                            <i class="fa fa-remove"></i>
                        </button>
                        <button type="button" class="volume-btn" ng-click="toggleMute()">
                            <i class="fa fa-volume-off" ng-show="mute"></i>
                            <i class="fa fa-times fa-right" ng-show="mute"></i>
                            <i class="fa fa-volume-up" ng-show="!mute"></i>
                        </button>
                    </div>
                </div> <!--TimerCtrl -->
            </div> <!--countdownTimer in countdownTimers div> -->
        </div> <!--container -->
        <!-- <footer>by ytv</footer> -->
    </body>
</html>
