body {
    font-size: 30px;
    background-color: #555;
    color: #fff;
    font-weight: bold;
    position: absolute;
    min-height: 700px;
    height: 100%;
    width: 100%;
}
h1 {
    font-size: 180%;
    font-weight: bold;
}
.box {
    margin: 25px auto;
}
.ctl {
    margin-top: 30px;
}
.btn {
    background: none;
}
.circle {
    border: 10px solid #ddd;
    border-radius: 150px;
    height: 300px;
    width: 300px;
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #8D54C7;
    box-shadow: 5px 10px 15px #333,
                inset 0px 0px 50px #4B2C80;
}
#circleLabel {
    position:relative;
    margin-top: 75px;
    font-size: 40px;
}
#timer {
    font-size: 45px;
}
.btn:hover, .btn:active, .btn:focus {
    outline: none !important;
    box-shadow: none;
    color: #fff;
}
.btn:active{
    position: relative;
    top: 1px;
    left: 1px;
}
.circle:hover {
    border-color: #fff;
}
.circle:active {
    box-shadow: 5px 10px 15px #333,
                inset 1px -1px 50px #333;
}
footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
