[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
  }
/* Body */

body {
    background-color: #555;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    min-height: 700px;
    width: 100%;
}

/* Header */

h1 {
    font-size: 180%;
    font-weight: bold;
}

/* Footer */

footer {
    top: 250px;
    font-size: 20px;
    position: relative;
        left: 50%;
    transform: translateX(-50%);
}

/* ctl - div that holds both box divs */

.box {
    margin-top: 30px;
}

/* box - div for h2 labels and break/session length */

.box--ctrl {
    margin: 25px auto;
}

/* Buttons */

.btn {
    background: none;
}

.btn:active {
    position: relative;
        left: 1px;
        top: 1px;
}

.btn:hover,
.btn:active,
.btn:focus {
    box-shadow: none;
    color: #fff;
    outline: none !important;
}

/* circle - div*/

.circle {
    background-color: #8D54C7;
    border: 10px solid #ddd;
    border-radius: 150px;
    box-shadow: 5px 10px 15px #333,
                inset 0px 0px 50px #4B2C80;
    height: 300px;
    margin-top: 30px;
    position: relative;
        left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.circle:hover {
    border-color: #fff;
}

.circle:active {
    box-shadow: 5px 10px 15px #333,
                inset 1px -1px 60px #333;
}

#circleLabel {
    font-size: 40px;
    margin-top: 75px;
    position:relative;
}

/* timer */

#timer {
    font-size: 45px;
}
